<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 column image-container">
      <img src="/assets/logo.png" alt="logo" />
      <h1>KeyFinder</h1>
    </div>
    <div class="col-12 col-md-4 column middle-info">
      <section>
        <div class="icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <p>Szeged, Magyarország</p>
      </section>
      <section>
        <div class="icon">
          <mat-icon>phone</mat-icon>
        </div>
        <p>+36 30 420 69 00</p>
      </section>
      <section>
        <div class="icon">
          <mat-icon>email</mat-icon>
        </div>
        <p>info&#64;keyfinder.com</p>
      </section>
    </div>
    <div class="col-12 col-md-4 column bottom-info">
      <h4>Rólunk</h4>
      <p>
        A KeyFinder egy modern ingatlankereső platform, amely gyors és átlátható
        böngészést biztosít a legjobb ajánlatok között. Célunk, hogy egyszerű és
        hatékony keresési élményt nyújtsunk a felhasználóknak.
      </p>
      <div class="icons">
        <i class="bx bxl-facebook" appOpacityOnHover></i>
        <i class="bx bxl-twitter" appOpacityOnHover></i>
        <i class="bx bxl-linkedin" appOpacityOnHover></i>
        <i class="bx bxl-github" appOpacityOnHover></i>
      </div>
    </div>
  </div>
</div>
