<nav>
  <h3 routerLink="/">KeyFinder</h3>
  <ul class="text-links">
    <li routerLink="/">Home</li>
    <li routerLink="/properties">Properties</li>
    <li routerLink="/about">About</li>
  </ul>

  <ul class="icon-links">
    <li routerLink="/"><mat-icon>home</mat-icon></li>
    <li routerLink="/properties"><mat-icon>search</mat-icon></li>
    <li routerLink="/about"><mat-icon>info</mat-icon></li>
  </ul>

  <button class="primary-button" mat-raised-button routerLink="/properties">
    Találj lakást
  </button>
</nav>
