<nav class="container">
  <h3 routerLink="/">KeyFinder</h3>
  <ul class="text-links">
    <li routerLink="/">Főoldal</li>
    <li routerLink="/properties">Ingatlanok</li>
    <li routerLink="/about">Rólunk</li>
  </ul>

  <ul class="icon-links">
    <li routerLink="/"><mat-icon>home</mat-icon></li>
    <li routerLink="/properties"><mat-icon>search</mat-icon></li>
    <li routerLink="/about"><mat-icon>info</mat-icon></li>
  </ul>

  @if (authService.isAuthenticated()) {
  <a class="primary-button" mat-raised-button (click)="logout()">
    Kijelentkezés
  </a>
  } @else {
  <a class="primary-button" mat-raised-button routerLink="/login">
    Bejelentkezés
  </a>
  }
</nav>
