@import "../../../styles.scss";

main {
  background-color: $primary-color;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $background-color;
  text-align: center;
  h1 {
    font-size: 10rem;
    font-weight: 700;
  }
  h2 {
    transform: translateY(-2rem);
    font-weight: 500;
  }
}
