<div class="wrapper">
  <app-navbar></app-navbar>
</div>

<div class="container">
  <h1 class="title">Te megálmodod, mi segítünk megtalálni!</h1>
  <p class="greetings">
    Üdvözlünk a <span class="keyword">KeyFinder</span> oldalán! Célunk, hogy az
    ingatlankeresést <span class="keyword">gyorsabbá</span>,
    <span class="keyword">egyszerűbbé</span> és
    <span class="keyword">hatékonyabbá</span> tegyük mindenki számára. Legyen
    szó első lakásvásárlásról, befektetési célú ingatlanról vagy egy új otthon
    kereséséről, nálunk <span class="keyword">megtalálod</span> az igényeidnek
    megfelelő lehetőségeket.
  </p>
</div>

<div class="middle-wrapper">
  <div class="container">
    <div class="card-row row">
      <mat-card class="col about-card" appearance="outlined">
        <img
          mat-card-image
          src="/assets/apartment-icon{{ imageurlext }}"
          alt="apartment-icon"
        />
        <mat-card-content>
          <p>
            <span class="keyword block">1200+</span>jelenleg elérhető ingatlan
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-4 col-sm-12 about-card" appearance="outlined">
        <img
          mat-card-image
          src="/assets/price-tag-icon{{ imageurlext }}"
          alt="price-tag-icon"
        />
        <mat-card-content>
          <p>
            <span class="keyword block">Akár 12M forinttól</span>alacsony árak
            mindenki számára
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-4 col-sm-12 about-card" appearance="outlined">
        <img
          mat-card-image
          src="/assets/globe-icon{{ imageurlext }}"
          alt="globe-icon"
        />
        <mat-card-content>
          <p>
            <span class="keyword block">100+</span>számos városokban és
            országokban
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="footer-wrapper">
  <app-footer></app-footer>
</div>
