<div class="nav-wrapper">
  <app-navbar></app-navbar>
</div>

<div class="hidden modal">
  <div (click)="closeModal()" class="modal-backdrop"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Időpontfoglalás</h2>
      <button mat-ripple class="close-button" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <mat-stepper
        [linear]="true"
        [orientation]="(stepperOrientation | async)!"
      >
        <mat-step editable="true" [completed]="dateFormGroup.valid">
          <form [formGroup]="dateFormGroup">
            <ng-template matStepLabel>Dátum</ng-template>
            <mat-form-field appearance="fill" class="date-field">
              <mat-label>Válasszon dátumot</mat-label>
              <input
                formControlName="date"
                matInput
                [matDatepicker]="datepicker"
              />
              @if (this.dateFormGroup.get('date')?.hasError('required')) {
              <mat-error>Kérem válasszon egy dátumot</mat-error>
              }
              <mat-datepicker-toggle
                matIconSuffix
                [for]="datepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
          </form>
          <div class="stepper-buttons">
            <button mat-button matStepperNext>Következő</button>
          </div>
        </mat-step>
        <mat-step editable="true" [completed]="timeFormGroup.valid">
          <form [formGroup]="timeFormGroup">
            <ng-template matStepLabel>Időpont</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Időpont választás</mat-label>
              <input
                matInput
                formControlName="time"
                [matTimepicker]="timePicker"
              />
              <mat-icon matSuffix>access_time</mat-icon>
              <mat-timepicker #timePicker></mat-timepicker>
            </mat-form-field>
          </form>
          <div class="stepper-buttons">
            <button mat-button matStepperPrevious>Előző</button>
            <button mat-button matStepperNext [disabled]="!timeFormGroup.valid">
              Következő
            </button>
          </div>
        </mat-step>
        <mat-step editable="true">
          <ng-template matStepLabel>Összegzés</ng-template>
          <p class="overview-header">Kiválasztott időpont:</p>
          <p>
            Dátum:
            {{ dateFormGroup.get("date")?.value | date : "yyyy.MM.dd" }}
          </p>
          <p>
            Idő:
            {{ timeFormGroup.get("time")?.value | date : "HH:mm" }}
          </p>
          <div class="stepper-buttons">
            <button mat-button matStepperPrevious>Vissza</button>
            <button mat-button (click)="submitAppointment()">
              Véglegesítés
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>

<div class="container">
  <div class="card row">
    <h1>{{ property.title }}</h1>
    <p class="created-at">
      Közzétéve: {{ property.created_at | date : "yyyy.MM.dd HH:mm" }}
    </p>
    <div class="col-lg-8 col-12 img-container">
      <div class="image-actions">
        <button (click)="openModal()" mat-flat-button>Időpontfoglalás</button>
        <mat-icon
          matRipple
          matTooltip="Kedvencekhez adás"
          [matRippleRadius]="40"
          >favorite</mat-icon
        >
      </div>

      <img
        src="/assets/{{ property.images[0] }}"
        alt="property-image:{{ property.id }}"
      />
    </div>

    <div class="col-lg-4 col-12 more-images-container">
      @if (property.images[1] != null) {
      <img
        class=""
        src="/assets/{{ property.images[1] }}"
        alt="property-image:{{ property.id }}1"
      />
      } @else {
      <img
        class=""
        src="/assets/missing-image.jpg"
        alt="property-image:{{ property.id }}2"
      />
      } @if (property.images[2] != null) {
      <img
        class=""
        src="/assets/{{ property.images[2] }}"
        alt="property-image:{{ property.id }}3"
      />
      } @else {
      <img
        class=""
        src="/assets/missing-image.jpg"
        alt="property-image:{{ property.id }}2"
      />
      }
    </div>

    <div class="col-md-6 col-12 details-container">
      <h2 class="location">
        <mat-icon>location_on</mat-icon>

        {{ property.location }}
      </h2>
      <p class="type">
        <mat-icon>apartment</mat-icon>
        {{ property.type }}
      </p>
      <p class="room-count">
        <mat-icon>bed</mat-icon>
        {{ property.roomCount }} szoba
      </p>
    </div>

    <div class="col-md-6 col-12 price">
      <p>{{ property.price | currency : "HUF" : "symbol-narrow" : "1.0-0" }}</p>
    </div>

    <p class="long-description">Hosszú leírás:</p>
    <app-truncated-text
      [text]="property.description"
      [maxLength]="800"
    ></app-truncated-text>
  </div>
</div>

<div class="footer-wrapper">
  <app-footer />
</div>
