@use "@angular/material" as mat;

.wrapper {
  width: 100vw;
  background-color: var(--mat-sys-primary-fixed-dim);
}

.banner-text-container {
  h1 {
    font-weight: 600;
    font-size: 2.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .primary-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.banner-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  .banner-image {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
