<div class="top-wrapper">
  <app-navbar></app-navbar>
  <section class="container">
    <div [ngStyle]="{ color: 'red', fontWeight: 'bold' }" class="debug">
      <p>DEBUG</p>
      <p>
        isAuthenticated:
        {{ (authService.isAuthenticated() | async) ? "true" : "false" }}
      </p>
      @if (currentUser) {
      <p>firstname: {{ currentUser.name.first }}</p>
      <p>lastname: {{ currentUser.name.last }}</p>
      <p>role: {{ currentUser.role }}</p>
      <p>email: {{ currentUser.email }}</p>
      <p>saved properties: {{ currentUser.savedProperties }}</p>
      <p>appointments: {{ currentUser.appointments }}</p>
      <p>profilePicture: {{ currentUser.profilePicture }}</p>
      }
    </div>

    <div class="header-row row">
      <div class="col-lg-4 col-md-12 banner-text-container">
        <h1>Találd meg a hozzád megfelelő otthont</h1>
        <p class="description">
          A KeyFinder kulcsfontosságú segítség az otthon megtalálásában.
        </p>
        <a class="primary-button" mat-raised-button routerLink="/properties">
          Találj lakást
        </a>
        <div class="row">
          <div class="col">
            <p class="description bold">1200+</p>
            <p class="description">Eladó ingatlan</p>
          </div>
          <div class="col">
            <p class="description bold">4000+</p>
            <p class="description">Elégedett vásárló</p>
          </div>
          <div class="col">
            <p class="description bold">100+</p>
            <p class="description">Díjak</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 banner-image-container">
        <img class="banner-image" src="assets/home_banner.png" alt="banner" />
      </div>
    </div>
  </section>
</div>

<div class="container">
  <app-search-bar />
  <div class="new-header">
    <p class="__left">
      <span>Újdonságok</span>
      A Legújabb Ingatlanaink
    </p>
    <p class="__right" routerLink="/properties">
      <span>Fedezd fel hát mind</span>
      <mat-icon class="right-arrow">trending_flat</mat-icon>
    </p>
  </div>
</div>

<div class="bottom-wrapper">
  <div class="container">
    <div class="row">
      @for (property of properties$ | async; track $index) { @if ($index < 4) {
      <app-property-card class="col" [property]="property"></app-property-card>
      } }
    </div>
  </div>
  <app-footer />
</div>
