<div class="wrapper">
  <main class="container">
    <app-navbar></app-navbar>
    <div class="row">
      <div class="col-md-4 col-sm-12 banner-text-container">
        <h1>Találd meg a hozzád megfelelő otthont</h1>
        <p class="description">
          A KeyFinder kulcsfontosságú segítség az otthon megtalálásában.
        </p>
        <button class="primary-button" mat-flat-button>Találj lakást</button>
      </div>
      <div class="col-md-8 col-sm-12 banner-image-container">
        <img class="banner-image" src="assets/home_banner2.png" alt="banner" />
      </div>
    </div>
  </main>
</div>
