<main>
  <div class="image-container">
    <!-- Fő kép -->
    @if (property.images[0] != null) {
    <img
      class="main-img"
      #mainImage
      appLazyLoad="/assets/{{ property.images[0] }}"
      alt="property-image"
    />
    } @else {
    <img
      class="main-img"
      #mainImage
      appLazyLoad="/assets/missing-image.jpg"
      alt="property-image"
    />
    }

    <div class="thumbnails-container">
      @for (item of property.images; track $index) { @if ($index < 5) {
      <img
        class="thumbnail"
        appLazyLoad="/assets/{{ property.images[$index] }}"
        alt="thumbnail-{{ $index }}"
        (mouseenter)="changeMainImage(property.images[$index])"
      />
      } }
    </div>
  </div>

  <div class="details">
    <p class="__location">
      <mat-icon>location_on</mat-icon>
      {{ property.location + ", " + property.title | length : 30 }}
    </p>
    <div class="middle">
      <p class="__type">
        <mat-icon>apartment</mat-icon>
        {{ property.type | length : 11 }}
      </p>
      <p class="__roomCount">
        <mat-icon>bed</mat-icon>
        {{ property.roomCount }} szoba
      </p>
    </div>
    <div class="bottom">
      <a mat-raised-button [routerLink]="'/property/' + property.id">
        Megtekintés
      </a>
      <p class="__price">
        {{ property.price | currency : "HUF" : "symbol-narrow" : "1.0-0" }}
      </p>
    </div>
  </div>
</main>
