<!-- <div class="property-card">
  <img src="{{ property.images[0] }}" alt="property-image" />
  <div class="row">
    <div class="col">
      <p>{{ property.title }}</p>
      <p>{{ property.price }}</p>
    </div>
  </div>

  <p>{{ property.location }}</p>
  <p>{{ property.description }}</p>
  <button mat-raised-button>valami</button>
  <button mat-fab extended>
    <mat-icon>favorite</mat-icon>
    Basic
  </button>
</div>
-->
<button class="primary-button" mat-flat-button>Találj lakást</button>
