@use "../../../styles.scss" as *;

main {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  overflow: hidden;
  background-color: $primary-color;
  color: $on-primary-color;
  box-shadow: 0 1px 6px $shadow-color;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0.5rem;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    button {
      margin: 0;
    }

    .__price {
      font-weight: 600;
    }
  }

  .middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .__type,
    .__roomCount {
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 70%;
    }
  }

  .__location {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: wrap;
  }

  .image-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 250px;
    background: $surface-container-color;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      .thumbnails-container {
        opacity: 1;
        transition: all 0.2s ease-in-out;
        right: 10px;
      }
    }

    .loaded {
      opacity: 1 !important;
    }

    .main-img {
      object-fit: cover;
      height: 250px;
      width: 100%;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .thumbnails-container {
      opacity: 0;
      position: absolute;
      top: 10px;
      right: -20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      z-index: 2;
      transition: all 0.2s ease-in-out;
    }

    .thumbnail {
      opacity: 0;
      width: 40px;
      height: 40px;
      object-fit: cover;
      border: 1px solid white;
      box-shadow: 0 0 3px $shadow-color;
      border-radius: 1px;
      cursor: pointer;
      transition: transform 0.2s ease;
    }
  }
}
